.weather-chart-container {
  background: var(--white);
  border-radius: 20px;
  padding: 2em 1em;
  margin: 0 1em;
}

.chart-headings {
  text-align: center;
  color: rgba(26, 177, 39, 0.527);
}

.graph-container:hover {
  box-shadow: 2px 2px 5px 2px rgba(26, 177, 39, 0.527);
  margin-bottom: 20px;
}
